@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300..700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

.wrap-form-login{
    position: relative;
    height: 100vh;
    background-color: #fff;
    z-index: 0;
    background-image: url("image.jpeg")
  }
  
  .frame{
    width: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3.2rem 0 5.2rem 0;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.6rem 0 #d5d9de;
    max-width: 56rem;
  }
  
  .logo{
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 18rem;
    text-align: center;
    font-size: 35px; 
    margin: 0 auto 2.4rem auto;
    padding: 1rem;
    color: #252525;
  }
  
  .wrap-content{
    padding: 0 6.6rem;
  }
  
  .wrap-content .wrap-input .wrap-phone-input,
  .wrap-content .wrap-input .wrap-password-input{
    width: 100%;
    display: block;
    box-sizing: inherit;
    margin-bottom: 1.6rem;
  }
  
  .wrap-content .wrap-input input{
      font-family: "Barlow", sans-serif;
      width: 100%;
      padding-left: 1.6rem;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 2.4rem;
      background-color: #fff;
      border: .1rem solid #ded5d5;
      border-radius: .4rem;
      transition: border-color .2s;
  }
  
  .wrap-content .wrap-input input:focus{
      border-color: #252525;
      outline: 0;
      outline-offset: 0;
  }
  
  .wrap-content .wrap-button-login button{
      display: block;
      width: 100%;
      margin-top: 1.6rem;
      color: #fff;
      background-color: #252525;
      border: 0;
      padding: .8rem 1.6rem;
      font-size: 14px;
      line-height: 1.5;
      white-space: nowrap;
      border-radius: .4rem;
      cursor: pointer;
      transition: background-color .2s,border .2s;
  }
  
  .wrap-content .wrap-button-login button:hover{
    background-color: #000000f2;
  }
  
  .background {
    font-family: "Barlow", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 20px;
    background: #383838;
    background: -moz-linear-gradient(left,  #ffffff 0%, #c4c4c4 100%);
    background: -webkit-linear-gradient(left,  #c4c4c4 0%,#ffffff 100%);
    background: linear-gradient(to right,  #ffffff 0%,#c4c4c4 100%);
  }
  
  .welcome {
    font-family: "Barlow Bold", sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 3em;
  }